*{
    padding:0;
    margin:0;
    
}

.contenedor{
    
}

.parte{
    
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZzKE3NkLmKJ85IkaVjbEQjjCTwpkHxYirAg&s);
    font-family: Arial, Helvetica, sans-serif;
}

.parte1{
    height: 50rem;
    width: 960px;
    margin: 0 auto;
    background-image: url(../img/ani/team.png);
    background-repeat: no-repeat;
    background: ;
}



h1{
    text-align: center;
    line-height: 10rem;
    font-size: 3rem;
}

.parte2{
    height: 20rem;
    width: 60rem;
    margin: 0 auto;
}

.parte3{
    height: 20rem;
    width: 60rem;
    margin: 0 auto;
}

.parte4{
    height: 20rem;
    width: 60rem;
    
    margin: 0 auto;
}

.parte5{
    height: 20rem;
    width: 60rem;
    background-image: url(../img/logo_carsandfilms.png);
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 auto;
}

.car{
    height: 10rem;
    width: 15rem;
    display: inline-block;
    margin: 20px 50px 0 50px;
    background-color: white;
    margin: 20px 90px 20px -13px;
    

}

p{
    position: relative;
    bottom: -160px;
    background-color: white;
    width: 15rem;
    height: 2rem;
    text-align: left;
    margin: 0 0 0 0;
    color: grey;

    
}

.pulp{
    background-image: url(../img/small/small_pulp.jpg);
}

.taxi{
    background-image: url(../img/small/small_taxi.jpg);
}

.gold{
    background-image: url(../img/small/small_bond.jpg);
}

.buster{
    background-image: url(../img/small/small_ghost.jpg);
}

.mr{
    background-image: url(../img/small/small_bean.jpg);
}

.back{
    background-image: url(../img/small/small_back.jpg);
}

.king{
    background-image: url(../img/small/small_rider.jpg);
}

.team{
    background-image: url(../img/small/small_team.jpg);
}

.bad{
    background-image: url(../img/small/small_break.jpg);
}


.car:hover{

    opacity: 50%;
}

.grey{
    color: grey;
}



















/*-----responsive-----*/
@media screen and (max-width: 480px){

    .car{
      display: inline; 
      height: 2rem;
      width: 2rem;
      background: red;
      margin: 50px 0px 500px 0px;
    }


    
}

/*-----plantilla-----*/

/*
        Theme Name: cars Valentina
        Theme URI: https://wordpress.org/themes/twentytwentyfive/
        Author: cars
        Description: plantilla de prueba
        Requires at least: 6.7
        Tested up to: 6.7
        Requires PHP: 7.2
        Version: 0.0.1
        License: copyleft
        Tags: cars, coches, vehiculos
        */

        /*
        * Link styles
        * https://github.com/WordPress/gutenberg/issues/42319
        */